*, *::after {
  box-sizing: border-box; /*-- sets box math for all elements --*/
}
html{
  background-color: #141516;
}
body {
  width: 85%;  /*-- sets width of whole body to 85% --*/
  margin: 0 auto;  /*-- centers the whole body --*/
  font-family: 'Ariel', sans-serif;  /*-- sets font and fallback --*/
}
figure {
  margin: 0 0 1em 0;  /*-- adds bottom margin to figures --*/
  padding: 0;  /*-- removes padding from figures --*/
}
img {
  width: 100%;  /*-- makes all images responsive --*/
}
article {
  padding-right: 1em;  /*-- creates space to the container's right --*/
}
footer {
  margin-top: 4em;  /*-- adds big space above the footer --*/
  height: 55px;
}
p {
  color: #EBF2F4
}

.container {
  display: inline-block;
  align-self: center;
  width: inherit;
  height: 250px;
  padding: 25px;
}
.container::after {
  clear: both;
  display: table;
}
.header {
  border-radius: 20px;
  border: 2px solid #AA2C2C;
  padding: 15px;
  float: left;
  width: 100%;
  height: auto;
}
.profPic{
  float: left;
  width: 20%;
  height: auto;
}
.myName {
  float: left;
  font-size: 42;
  font-family: 'Anton', sans-serif;
  text-align: center;
  width: 30%;
  height: auto;
}
.briefDesc {
  border-radius: 20px;
  border: 2px solid #AA2C2C;
  padding: 15px;
  float: left;
  width: 50%;
  height: auto;
}

.bodyContainer{
  padding: 25px;
}

/* The side navigation menu */
.nav {
    float: left;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
/* When you mouse over the navigation links, change their color */
.nav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.splashPage{
  float: left;
}
